.article_wrapper {
    width: 938px;
    margin: 0 auto;
}

.pagination_wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 360px;
    margin: 0 auto;
}

.spin_wrapper {
    text-align: center;
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}