html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style-type: none;
    }
}

.app {
    background-color: #EBEEF3;
    min-height: 100vh;
}